* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
  color: #fff;
  font-size: 16px;
}

.app {
  padding: 5%;
  height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header {
  padding: 1rem 0 2rem 0;
  display: flex;
  justify-content: flex-start;
}

.header label {
  padding: 0 1rem;
}

.header select {
  width: 11rem;
  max-height: 2rem;
  padding: 0.3rem;
  background-color: cadetblue;
}

.flights-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flight-table-heading {
  padding-top: 1rem;
}

.table-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.table-header-detail {
  padding: 1rem 0;
  font-size: 1rem;
}
.filter-heading {
  width: 100vw;
}

.flight-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
}

.flights-section {
  display: flex;
  flex-direction: column;
  width: 85%;
  justify-content: space-between;
  align-items: center;
  border-right: 1px dashed #fff;
}

.flight-detail {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.fare-section {
  display: flex;
  width: 30%;
  justify-content: space-around;
  padding: 0 0 0 1.5rem;
}

.flight-num {
  align-self: flex-start;
}

.info-wrapper {
  padding: 0.5rem;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 2px solid orange;
  border-radius: 10px;
  /* text-align: center; */
  height: 5rem;
  max-height: 5rem;
}

.informer-heading {
  width: 20%;
  padding-right: 0.5rem;
}

.informer-entries-wrapper {
  width: 80%;
  overflow: auto;
  white-space: nowrap;
}

.informer {
  display: inline-block;
  padding: 0.5rem;
  border: 1px dashed #fff;
}
